div.model.search-friends
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(ng-click="show=false")
                    span ×
                    span.sr-only 关闭
                h4.modal-title 搜索
            div.modal-body
                div.input-group
                  input.form-control(type="text", ng-model="keyword", ng-init="infoText=['请输入好友昵称','请输入群名称']", placeholder="{{ infoText[actionType] }}")
                  div.input-group-btn(ng-init="actionText=['搜索好友', '搜索群'];actionType=0")
                    button.btn.btn-default(tabindex="-1", ng-bind="actionText[actionType]", ng-click="search()")
                    button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                        span.caret
                    ul.dropdown-menu.dropdown-menu-right
                        li(ng-repeat="text in actionText")
                            a(ng-bind="text", ng-click="$parent.actionType=$index")

                div.list-group(ng-if="actionType==0")
                    a.list-group-item(ng-repeat="friend in friends", ng-bind="friend.nickname")
                div.list-group(ng-if="actionType==1")
                    a.list-group-item(ng-repeat="room in rooms", ng-bind="room.name")
            div.modal-footer
                button.btn.btn-default(ng-click="show=false") 关闭