@chatEditorHeight: 96px;
@toolBoxHeight: 25px;

.chat-box {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    .messages{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: @chatEditorHeight + @toolBoxHeight;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        border: 1px solid #ddd;
        padding: 10px;
        background: lighten(yellow, 40%);

        &>div:first-child {
            margin-top: 0;
        }
        &>div {
            margin-top: 10px;
        }

        .left .head {
            float: left;
        }
        .right .head {
            float: right;
        }
        .head {
            width: 30px;
            height: 30px;
        }

        .message-content>div {
            padding:5px;
            border:1px solid #ddd;
        }
        .right>div:first-child {
            text-align: right;
        }
        .right .message-content {
            text-align: right;
            margin-right: 30px;

            &>div {
                float: right;
                text-align: left;
            }
        }
        .left .message-content {
            margin-left: 30px;

            &>div {
                float: left;
            }
        }
    }

    .tool-box {
        position: absolute;
        height: @toolBoxHeight;
        bottom: @chatEditorHeight;
        left: 0;
        right: 0;
    }
    .chat-editor {
        position: absolute;
        height: @chatEditorHeight;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;

        &:focus {
            outline: none;
        }

        .content {
            border: 1px solid #ddd;
            padding: 5px;
        }
    }
}