div(style="width:300px")
    ul.nav.nav-pills(role="tablist")
        li(role="presentation")
            a(href="#home", role="tab", data-toggle="tab", aria-controls="home", aria-expanded="false") 常用联系人
        li.active(role="presentation")
            a(href="#profile", role="tab", data-toggle="tab", aria-controls="profile", aria-expanded="true") 联系人
    div.tab-content
        div.tab-pane.fade(role="tabpanel", aria-labelledby="home-tab", id="home")
            div.list-group
                a.list-group-item(href="#")
                    img(src="http://placehold.it/30x30", style="padding:0 5px")
                    span.list-group-item-text 张三
                a.list-group-item(href="#")
                    img(src="http://placehold.it/30x30", style="padding:0 5px")
                    span.list-group-item-text 李四
                a.list-group-item(href="#")
                    img(src="http://placehold.it/30x30", style="padding:0 5px")
                    span.list-group-item-text 王五

        div.tab-pane.fade.active.in(role="tabpanel", id="profile", aria-labelledby="profile-tab")
            div.list-group
                a.list-group-item(href="#")
                    img(src="http://placehold.it/30x30", style="padding:0 5px")
                    span.list-group-item-text 张三
                a.list-group-item(href="#")
                    img(src="http://placehold.it/30x30", style="padding:0 5px")
                    span.list-group-item-text 李四
                a.list-group-item(href="#")
                    img(src="http://placehold.it/30x30", style="padding:0 5px")
                    span.list-group-item-text 王五
