div.contact(style="width:300px")
    ul.nav.nav-tabs(role="tablist")
        li(role="presentation")
            a(href="#home", role="tab", data-toggle="tab", aria-controls="home", aria-expanded="false") 常用联系人
        li.active(role="presentation")
            a(href="#profile", role="tab", data-toggle="tab", aria-controls="profile", aria-expanded="true") 联系人
    div.tab-content
        div.tab-pane.fade(role="tabpanel", aria-labelledby="home-tab", id="home")
            p(style="margin-top:5px")
                img(src="http://placehold.it/30x30")
                span.list-group-item-text 张三
            p
                img(src="http://placehold.it/30x30")
                span.list-group-item-text 李四
            p
                img(src="http://placehold.it/30x30")
                span.list-group-item-text 王五

        div.tab-pane.fade.active.in(role="tabpanel", id="profile", aria-labelledby="profile-tab")
            p(style="margin-top:5px")
                img(src="http://placehold.it/30x30")
                span.list-group-item-text 张三
            p
                img(src="http://placehold.it/30x30")
                span.list-group-item-text 李四
            p
                img(src="http://placehold.it/30x30")
                span.list-group-item-text 王五
