doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title chat
    link(href="/static/lib/bootstrap-3.3.1/css/bootstrap.css", rel="stylesheet")
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    link(href="/static/css/main.css", rel="stylesheet")
    body(ng-controller="IndexController")
        nav.navbar.navbar-default(role="navigation")
            div.container-fluid
                div.navbar-header
                    button.btn.btn-default.navbar-btn(ng-click="showContact=!showContact") 联系人
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav(style="margin-left:5px")
                        li.active
                            a(href="#") 第一个群
                        li
                            a(href="#") 与张三的聊天

        div.chat-box
            div.messages
                div.left
                    div.clearfix
                        img.head(src="http://placehold.it/30x30")
                        |张三
                    div.message-content.clearfix
                        div 哈哈，你个傻子
                div.right
                    div.clearfix(style="text-align:right")
                        img.head(src="http://placehold.it/30x30", style="float:right")
                        |李四
                    div.message-content.clearfix
                        div 我靠，你才是傻子
            div.tool-box.clearfix
                button.send.pull-right 发送
            div.chat-editor(contenteditable="true")
                | 内容可编辑

        div(ng-show="showContact")
            include ./contact.jade

        script(src="/static/lib/requirejs/require.js")
        script(src="/static/js/config.js")
        script(src="/static/js/page/index.js")