extends ./layout.jade

block head
    title 注册

block content
    div(ng-controller="RegisteController")
        div.registe.panel.panel-default
            div.panel-heading 注册
            div.panel-body
                form.form-horizontal(name="form")
                    div.form-group
                        label.col-sm-3.control-label 真实姓名
                        div.col-sm-9
                            input.form-control(type="text", placeholder="真实姓名", ng-model="user.name", required)
                    div.form-group
                        label.col-sm-3.control-label 昵称
                        div.col-sm-9
                            input.form-control(type="text", placeholder="昵称", ng-model="user.nickname", required)
                    div.form-group
                        label.col-sm-3.control-label 邮箱
                        div.col-sm-9
                            input.form-control(type="email", placeholder="邮箱", ng-model="user.email", required)
                    div.form-group
                        label.col-sm-3.control-label 头像
                        div.col-sm-9
                            input.form-control(type="text", placeholder="头像", ng-model="user.avatar", required)
                    div.form-group
                        label.col-sm-3.control-label 密码
                        div.col-sm-9
                            input.form-control(type="password", placeholder="密码", ng-model="user.password", required)
                    div.form-group
                        label.col-sm-3.control-label 确认密码
                        div.col-sm-9
                            input.form-control(type="password", placeholder="确认密码", ng-model="user.confirmPassword", required)
                    div.form-group
                        div.col-sm-offset-3.col-sm-9.text-right
                            button.btn.btn-primary(ng-click="form.$valid && registe()") 注册

        div.model.alert.hide(ng-class="alert.show?'show':'hide'")
            div.modal-dialog.modal-sm
                div.modal-content
                    div.modal-header
                        button.close(ng-click="alert.show=false")
                            span ×
                            span.sr-only 关闭
                        h4.modal-title(ng-bind="alert.title")
                    div.modal-body
                        p(ng-bind="alert.content")
                    div.modal-footer
                        button.btn.btn-default(ng-click="alert.show=false") 关闭

block javascript
    script(src="/static/js/page/registe.js")